* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --mainColor : #141C3A;
    --backgroundBoxColor : #E5E5E5;
    --borderBoxColor : #C4C4C4;
    --lowDifficulty : #2CA438;
    --mediumDifficulty: #F49A2F;
    --highDifficulty: #E13131;
}   
body {
    display: block;
}
/*-------------------------HEADER------------------------*/
header {
    width: 100%;
    background-color: var(--mainColor);
    min-height: 10em;
    display: flex;
    align-items: flex-start;
}
header .container {
    /* width: 50%; */
    min-height: 10em;
    display: flex;
    align-items: flex-end;
    margin-left : 3em;
}
h1 {
    font-size: 48px;
    margin: 0.5em 1em;
    color: white;
}
header button {
    color: white;
    background-color: var(--mainColor);
    border: none;
    margin: 0.8em;
    font-size: 1.5em;
    cursor: pointer;
}

/*-------------------------CONTENU-------------------------*/
/*--------------------SECTION 1--------------------*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(1) {
    width: 50%;
    padding: 3em 0;
}
section:nth-child(1) .container {
    display: flex;
    justify-content: space-between;
}
.button {
    padding: 0.5em 1.2em;
    color: white;
    border: none;
    border-radius: 2.5em;
    height: fit-content;
    opacity: 50%;
    cursor: pointer;
}
.low {
    background-color: var(--lowDifficulty);
}
.medium {
    background-color: var(--mediumDifficulty);
}
.high {
    background-color: var(--highDifficulty);
}
.favoris {
    background-color: #FF6B6B;
    opacity: 100%;
}
input {
    width: 100%;
    grid-column: 1 / 3;
    margin-top: 2em;
    padding: 0.8em;
    background-color: var(--backgroundBoxColor);
    border: 1px solid var(--borderBoxColor);
    color: var(--borderBoxColor);
}

/*--------------------SECTION 2--------------------*/
section:nth-child(2) ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em;
}
section:nth-child(2) li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--borderBoxColor);
    background-color: var(--backgroundBoxColor);
    width: 230px;
    min-height: 120px;
}
li div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.8em;
    padding-left: 0;
}
h3 {
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    font-size: medium;
}
.addFav {
    cursor: pointer;
}
section:nth-child(2) li div:nth-child(2) {
    width: 100%;
    min-height: 5em;
}
section:nth-child(2) li div:nth-child(3) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}
.category {
    padding: 0.5em 1em;
    width: fit-content;
    font-size: small;
    color: white;
}
.difficulty {
    width: 3em;
    height: 1em;
    border-radius: 1em;
    position: absolute;
    left: -0.5em;
}
section:nth-child(2) a {
    background-color: var(--mainColor);
    text-align: center;
    padding: 0.7em;
    width: 50%;
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: white;
}

/*-------------------------TERMINAL-------------------------*/
.terminal {
    background-color: black;
    font-family: 'VT323', monospace;
    height: calc(100vh - 10em);
    color: grey;
    display: none;
}
.terminal ul li {
    font-family: 'VT323', monospace;
    font-size: 1.2em;
}
.terminal label {
    font-family: 'VT323', monospace;
    color: grey;
    font-size: 2em;
    margin-left: 15%;
}
.terminal input {
    border: none;
    background-color: inherit;
    outline: none;
    font-family: 'VT323', monospace;
    color: grey;
}
#text {
    background-color: black;
    color: grey;
    border: none;
    height: 50px;
    width: 80%;
    font-size: 2em;
    margin: 5% 0 0 1%;
}
.menu{
    margin: 8% 0 0 15%;
    font-size: 1.5em;
    display : none;
}

/*-------------------------FOOTER-------------------------*/
footer ul {
    display: flex;
    justify-content: center;
    padding: 5em 0;
}
footer li {
    color: white;
    background-color: #E5E5E5;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2em;
    margin: 0.5em;
    cursor: pointer;
}
footer li:active {
    background-color: #FF6B6B;
}

/*-------------------------REPONSIVE-------------------------*/
@media all and (max-width : 1150px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media all and (max-width : 900px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (max-width : 680px) {
    #mainTitle span {
        display: none;
    }
    header button {
        display: none;
    }
    section:nth-child(1) {
        width: 100%;
    }
    section:nth-child(1) button {
        display: none;
    }
    input {
        width: 100%;
        margin: 0px 0px 2em;
        box-sizing: border-box;
    }
    ul {
        grid-template-columns: repeat(1, 1fr);
    }
}